<div class="dummy-body">
  {{frost-notifier}}
  {{outlet}}
  <div class="dummy-content">
    <div class="frost-pods-demo">
      <div class="controls">
        {{#frost-button class='medium secondary text' onClick=(action (mut activePod) 'map')}}Map pods{{/frost-button}}
        {{#frost-button class='medium secondary text' onClick=(action (mut activePod) 'node')}}Node pods{{/frost-button}}
        {{#frost-button class='medium secondary text' onClick=(action (mut activePod) 'search')}}Search pods{{/frost-button}}
        {{#frost-button class='medium secondary text' onClick=(action (mut activePod) 'details')}}Detail pods{{/frost-button}}
      </div>
      {{frost-pods
        active=activePod
        pods=(hash
          map=(component 'map-pod')
          node=(component 'node-pod')
          search=(component 'search-pod')
          details=(component 'details-pod'
            menu=(hash
                close=(component 'frost-button'
                  priority='primary'
                  size='small'
                  onClick=(action 'closeThis')
                  text='Close'
                )
            )
          )
        )
      }}
    </div>
  </div>
</div>
